<launch>
	<node
	pkg="proportional_controller"
	type="Controller"
	name="Navigation_Control"
	required="true"
	launch-prefix="xterm -e"
    >
    <remap
	from="/cmd_vel"
	to="/turtle1/cmd_vel"
	/>
	</node>


    <node
	pkg="turtlesim"
	type="turtlesim_node"
	name="turtlesim"
	/>
    <node
	pkg="turtlesim"
	type="turtle_teleop_key"
	name="teleop_key"
	required="true"
	launch-prefix="xterm -e"
/>

</launch>
